﻿@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato-Regular/Lato-Regular-webfont.ttf'); /* lub ścieżka relatywna */

    font-family: Lato-Light;
    src: url('../fonts/Lato-Light/Lato-Light-webfont.ttf');
}
@media only screen and (min-width: 1500px) and (max-width: 1650px) {
    .uslugi {
        margin: 5% 25% 0px;
    }

    .klient img {
        width: 50px;
        height: 50px;
        margin: 0px 22%;
    }
    .header {
        width: 100%;
        height: 375px;
        background-image:url('../images/headerBIG.png');
        color: #FFF;
        background-repeat: no-repeat !important;
        background-size: initial;
        background-position: center 0px !important;
    }

    .panel {
        width: auto;
        height: 375px;
        background-color: transparent;
        box-shadow: none;
        margin: 0 15%;
    }
    .panel h1 {
        font-size: 51px;
        font-family: Lato-Regular;
        text-align: center;
        padding-top: 14px;
    }

    p.about_factory {
        font-size: 1.6em;
        font-family: Lato-Light;
        text-align: center;
        text-shadow: 1px 1px #000;
    }

    hr.redLine_default {
        border: 2px solid #213781;
        width: 30px;
        border-radius: 10px;
        float: none;
        margin: 35px auto 45px;
    }

    .row {
        margin: 0px auto;
        width: 100%;
        max-width: 60em;
        padding-left: 15px;
        padding-right: 15px;
    }

    .korespond {
        margin: 85px 0px;
    }
    .korespond img {
        margin-bottom: 22px;
    }

    .center {
        text-align: center;	
    }
    .large-6 {
        width: 50%;
    }
    .panel-table .large-6 {
        margin-left: 25%;
    }
    .columns {
        padding-right: 0.9375em;
        float: left;
        position: relative;
    }
    .fontLato {
        font-family: Lato-Light;
        font-size: 20px;
    }
    p.header_column {
    font-size: 24px;
    font-family: Lato-Regular;
    padding-bottom: 16px;
    color: #213781;
    text-align: center;
    margin-bottom: 0px !important; text-decoration: underline;
}
    p.Adress {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 12px;
    }
    p.Phone, p.Email, p.Nip, p.Facebook {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 8px;
    }

    #mapka {width: 100%; height: 360px; margin-top: 22px; }

    h2 {
    color: #213781;
    font-family: Lato-Regular;
    font-size: 24px;
    margin: 85px 0px 20px;
    padding-bottom: 16px;
    text-align: center; text-decoration: underline;
}

    /*Formularz*/
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .row {
        width: 100%;
        margin: 0px auto;
        max-width: 60em;
    }
    .row::before, .row::after {
        content: " ";
        display: table;
    }
    *, *::before, *::after {
        box-sizing: border-box;
    }
    .large-12 {
        width: 100%;
    }
    .row .row {
        width: auto;
        margin: 0px -0.9375em;
        max-width: none;
    }
    .large-12 {
        width: 100%;
    }
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .large-6 {
        width: 50%;
    }
    .textInput {
        background: transparent none repeat scroll 0% 0%;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 54px;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    [class*="column"] + [class*="column"]:last-child {
        float: right;
    }
    .left {
        float: left !important;
    }
    #captchaContainer pre {
        border: 1px solid #C2C2C2;
        color: #C1C1C1;
        float: left;
        font-family: monospace;
        font-size: 10px;
        letter-spacing: -2px;
        line-height: 76%;
        margin: 0px 1em 0px 0px;
        border-radius: 6px;
        height: 55px;
    }
    #captcha-input {
        background: transparent none repeat scroll 0px 0px;
        border: 1px solid #C2C2C2;
        height: 55px;
        text-align: center;
        width: 86px;
        color: #C1C1C1;
        border-radius: 6px;
    }
    .right {
        float: right !important;
    }
    #send {
        background-color: #B25076;
        border: medium none;
        border-radius: 50px;
        box-shadow: 0px 1px 1px 0px rgba(15, 15, 15, 0.75);
        color: #FFF;
        cursor: pointer;
        font-family: Lato-Regular;
        font-size: 18px;
        height: 50px;
        margin-bottom: 20px;
        float: right;
        width: 145px;
        margin-left: 80%;
    }
    textarea {
        background: transparent none repeat scroll 0% 0%;
        resize: none;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 202px;
        padding: 1em;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    textarea {
        min-height: 50px;
    }

    .klienci {
        margin: 0px 9% 80px;
    }
    .klienci h2{
        margin-top: 8%;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    .klient{
        display: inline-block;
        margin: 0px 5px;
        -webkit-margin-start: 25px;
    }
    .klient p{
        text-align: center;
        font-family: Lato-Light;
        font-size: 1.2em;
        margin: 5px 0px;
    }

    .usluga{
        display: inline-block;
    }
    .usluga img:hover {
        opacity: 0.5;
        transition: width 2s;
        -webkit-transition: width 2s;
    }
    .usluga a { 
        outline:none 
    }
    .usluga a img { 
        border:none;
    } 
    .usluga a:focus {
        outline:none;
    }

    /*podstrona pogotowie*/
    .panel-pogotowie, .panel-uslugi{
        margin: 0 15%;      
    }
    h1 {
        font-size: 26px;
        font-family: Lato-Light;
        text-align: center;
        margin-top: 5%;
    }
    ul {
        list-style-type: none;
        margin-bottom: 5%;
    }
    li {
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
    }
    li:hover{
        background-color: #F4F8FC;
    }
    li p{
        font-size: 0.8em;
        color: #101010;
        font-family: Lato-Light;
        margin-top: 5px;
    }
    .lista-uslugi{
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
        height: 180px;
    }

    /*podstrona uslugi*/
    .panel-lista {
        margin-top: 5%;
    }
    .pozycja img {
        width: 100px;
        height: 100px;  
        float: right;
        margin-right: 5%;
    }
    .pozycja-left img{
        width: 100px;
        height: 100px;
        float: left;
    }
    .pozycja-left p {
        width: 80%;
        float: right;
        margin-top: 15px;
        text-align: center;
        margin-right: 8%;
    }
    #naglowek-li {
        text-align: right;
    }
    .pozycja p{
        width: 80%;
        float: left;
        margin-top: 10px;
    }
    .pozycja li{
        display: inline-block;
    }
    h3 {
        font-family: Lato_light;
        font-size: 1em;
        color: rgb(108, 198, 192);
        margin: 0 0;
    }
    .header-left {
        text-align: center;
    }

    /*menu*/
    .menu {
        text-align: right;
        margin: 0% 2%;
        padding-top: 0.5%;
    }
    .menu a{
        text-decoration: none;
        font-family: Lato;
        font-size: 1.1em;
        color: #FFF;
        padding-left: 1%;
    }
    .menu a:hover{
        text-decoration-line: underline;

    }

    /*cennik*/
    .info-cennik {
        margin: 0 15%;
    }
    .opis-cennik h2 {
    text-align: left;
    border-bottom: 1px solid #7CADBD;
    color: #213781;
    text-decoration: none;
}
    .text-cennik {
        margin-left: 28%;
        margin-top: 5%;
        font-family: Lato-Light;
        font-size: 1.4em;
    }
    .opis-cennik img {
        float: left;
        width: 25%;
    }
    .three-columns {
        display: -moz-box;
        margin: 5% 15%;
        -webkit-margin-end: 3%; 
        border: 1px solid #D2E4ED;
        box-shadow: 1px 1px 20px -10px #556DC2;
        -webkit-box-shadow: 1px 1px 20px 1px rgb(162, 170, 199);
        border-radius: 5px;
        display: -webkit-inline-box;
    }
    
    .row-usluga-header h2 {
        font-family: Lato;
        font-size: 24px;
        text-align: center;
        margin: 0px;
        padding: 18px 0px;
        background-color: rgb(86, 174, 240);
        color: #DEF2FF;
    }
    td:first-child {
    width: 270px;
}
    td, th {
        padding: 0px;
        width: 50px;

    }
    td:nth-child(2) {
        text-align: center;
        padding: 0px 10px;
    }
    td:last-child {
        text-align: center;
    }
    tbody tr {
        max-height: 100px;
        height: 90px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    }
    tbody {
    color: #6E757D;
    font-size: 1.2em;
}
    thead tr {
        height: 5em;
    }
    thead {
        font-family: Lato-Regular;
        font-size: 1.3em;
        color: #3095D5;
    }
    .row-uslugi {
        padding-right: 5%;
        padding-left: 2%;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1480px) {
    .uslugi {
        margin: 5% 22% 0px;
    }

    .klient img {
        width: 50px;
        height: 50px;
        margin: 0px 30%;
    }
    .header {
        width: 100%;
        height: 375px;
        background-image:url('../images/headerBIG.png');
        color: #FFF;
        background-repeat: no-repeat !important;
        background-size: initial;
        background-position: center 0px !important;
    }

    .panel {
        width: auto;
        height: 375px;
        background-color: transparent;
        box-shadow: none;
        margin: 0 15%;
    }
    .panel h1 {
        font-size: 51px;
        font-family: Lato-Regular;
        text-align: center;
        padding-top: 14px;
    }

    p.about_factory {
        font-size: 1.6em;
        font-family: Lato-Light;
        text-align: center;
        text-shadow: 1px 1px #000;
    }

    hr.redLine_default {
        border: 2px solid #213781;
        width: 30px;
        border-radius: 10px;
        float: none;
        margin: 35px auto 45px;
    }

    .row {
        margin: 0px auto;
        width: 100%;
        max-width: 60em;
        padding-left: 15px;
        padding-right: 15px;
    }

    .korespond {
        margin: 85px 0px;
    }
    .korespond img {
        margin-bottom: 22px;
    }

    .center {
        text-align: center;	
    }
    .large-6 {
        width: 50%;
    }
    .panel-table .large-6 {
        margin-left: 25%;
    }
    .columns {
        padding-right: 0.9375em;
        float: left;
        position: relative;
    }
    .fontLato {
        font-family: Lato-Light;
        font-size: 20px;
    }
    p.header_column {
    font-size: 24px;
    font-family: Lato-Regular;
    padding-bottom: 16px;
    color: #213781;
    text-align: center;
    margin-bottom: 0px !important; text-decoration: underline;
}
    p.Adress {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 12px;
    }
    p.Phone, p.Email, p.Nip, p.Facebook {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 8px;
    }

    #mapka {width: 100%; height: 360px; margin-top: 22px; }

    h2 {
    color: #213781;
    font-family: Lato-Regular;
    font-size: 24px;
    margin: 85px 0px 20px;
    padding-bottom: 16px;
    text-align: center; text-decoration: underline;
}

    /*Formularz*/
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .row {
        width: 100%;
        margin: 0px auto;
        max-width: 60em;
    }
    .row::before, .row::after {
        content: " ";
        display: table;
    }
    *, *::before, *::after {
        box-sizing: border-box;
    }
    .large-12 {
        width: 100%;
    }
    .row .row {
        width: auto;
        margin: 0px -0.9375em;
        max-width: none;
    }
    .large-12 {
        width: 100%;
    }
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .large-6 {
        width: 50%;
    }
    .textInput {
        background: transparent none repeat scroll 0% 0%;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 54px;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    [class*="column"] + [class*="column"]:last-child {
        float: right;
    }
    .left {
        float: left !important;
    }
    #captchaContainer pre {
        border: 1px solid #C2C2C2;
        color: #C1C1C1;
        float: left;
        font-family: monospace;
        font-size: 10px;
        letter-spacing: -2px;
        line-height: 76%;
        margin: 0px 1em 0px 0px;
        border-radius: 6px;
        height: 55px;
    }
    #captcha-input {
        background: transparent none repeat scroll 0px 0px;
        border: 1px solid #C2C2C2;
        height: 55px;
        text-align: center;
        width: 86px;
        color: #C1C1C1;
        border-radius: 6px;
    }
    .right {
        float: right !important;
    }
    #send {
        background-color: #B25076;
        border: medium none;
        border-radius: 50px;
        box-shadow: 0px 1px 1px 0px rgba(15, 15, 15, 0.75);
        color: #FFF;
        cursor: pointer;
        font-family: Lato-Regular;
        font-size: 18px;
        height: 50px;
        margin-bottom: 20px;
        float: right;
        width: 145px;
        margin-left: 80%;
    }
    textarea {
        background: transparent none repeat scroll 0% 0%;
        resize: none;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 202px;
        padding: 1em;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    textarea {
        min-height: 50px;
    }

    .klienci {
        margin: 0px 4% 80px;
    }
    .klienci h2{
        margin-top: 8%;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    .klient{
        display: inline-block;
        margin: 0px 5px;
        -webkit-margin-start: 25px;
    }
    .klient p{
        text-align: center;
        font-family: Lato-Light;
        font-size: 1.2em;
        margin: 5px 0px;
    }

    .usluga{
        display: inline-block;
    }
    .usluga img:hover {
        opacity: 0.5;
        transition: width 2s;
        -webkit-transition: width 2s;
    }
    .usluga a { 
        outline:none 
    }
    .usluga a img { 
        border:none;
    } 
    .usluga a:focus {
        outline:none;
    }

    /*podstrona pogotowie*/
    .panel-pogotowie, .panel-uslugi{
        margin: 0 15%;      
    }
    h1 {
        font-size: 26px;
        font-family: Lato-Light;
        text-align: center;
        margin-top: 5%;
    }
    ul {
        list-style-type: none;
        margin-bottom: 5%;
    }
    li {
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
    }
    li:hover{
        background-color: #F4F8FC;
    }
    li p{
        font-size: 0.8em;
        color: #101010;
        font-family: Lato-Light;
        margin-top: 5px;
    }
    .lista-uslugi{
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
        height: 180px;
    }

    /*podstrona uslugi*/
    .panel-lista {
        margin-top: 5%;
    }
    .pozycja img {
        width: 100px;
        height: 100px;  
        float: right;
        margin-right: 5%;
    }
    .pozycja-left img{
        width: 100px;
        height: 100px;
        float: left;
    }
    .pozycja-left p {
        width: 80%;
        float: right;
        margin-top: 15px;
        text-align: center;
        margin-right: 8%;
    }
    #naglowek-li {
        text-align: right;
    }
    .pozycja p{
        width: 80%;
        float: left;
        margin-top: 10px;
    }
    .pozycja li{
        display: inline-block;
    }
    h3 {
        font-family: Lato_light;
        font-size: 1em;
        color: rgb(108, 198, 192);
        margin: 0 0;
    }
    .header-left {
        text-align: center;
    }

    /*menu*/
    .menu {
        text-align: right;
        margin: 0% 2%;
        padding-top: 0.5%;
    }
    .menu a{
        text-decoration: none;
        font-family: Lato;
        font-size: 1.1em;
        color: #FFF;
        padding-left: 1%;
    }
    .menu a:hover{
        text-decoration-line: underline;

    }
}


@media only screen and (min-width: 1910px) {
    .uslugi {
        margin: 5% 29% 0px;
    }

    .klient img {
        width: 50px;
        height: 50px;
        margin: 0px 24%;
    }
    .header {
        width: 100%;
        height: 375px;
        background-image:url('../images/headerBIG.png');
        color: #FFF;
        background-repeat: no-repeat !important;
        background-size: initial;
        background-position: center 0px !important;
    }

    .panel {
        width: auto;
        height: 375px;
        background-color: transparent;
        box-shadow: none;
        margin: 0 15%;
    }
    .panel h1 {
        font-size: 51px;
        font-family: Lato-Regular;
        text-align: center;
        padding-top: 14px;
    }

    p.about_factory {
        font-size: 1.8em;
        font-family: Lato-Light;
        text-align: center;
        text-shadow: 1px 1px #000;
    }

    hr.redLine_default {
        border: 2px solid #213781;
        width: 30px;
        border-radius: 10px;
        float: none;
        margin: 35px auto 45px;
    }

    .row {
        margin: 0px auto;
        width: 100%;
        max-width: 60em;
        padding-left: 15px;
        padding-right: 15px;
    }


    .korespond {
        margin: 85px 0px;
    }
    .korespond img {
        margin-bottom: 22px;
    }

    .center {
        text-align: center;	
    }
    .large-6 {
        width: 50%;
    }
    .panel-table .large-6 {
        margin-left: 25%;
    }
    .columns {
        padding-right: 0.9375em;
        float: left;
        position: relative;
    }
    .fontLato {
        font-family: Lato-Light;
        font-size: 20px;
    }
    p.header_column {
        font-size: 28px;
        font-family: Lato-Regular;
        padding-bottom: 16px;
        color: #213781;
        text-align: center;
        margin-bottom: 0px !important;
    }
    p.Adress {
        font-size: 24px;
        font-family: Lato-Light;
        margin-bottom: 12px;
    }
    p.Phone, p.Email, p.Nip, p.Facebook {
        font-size: 24px;
        font-family: Lato-Light;
        margin-bottom: 8px;
    }

    #mapka {
        width: 100%;
        height: 450px;
        margin-top: 22px;
    }

    h2 {
        color: #213781;
        font-family: Lato-Regular;
        font-size: 28px;
        margin: 85px 0px 20px;
        padding-bottom: 16px;
        text-align: center;
    }

    /*Formularz*/
    .clear {
        margin-left: 50px;
    }
    .halfSize {
        width: 900px !important;
        margin: 0px auto !important;
    }
    .row {
        width: 100%;
        margin: 0px auto;
        max-width: 60em;
    }
    .row::before, .row::after {
        content: " ";
        display: table;
    }
    *, *::before, *::after {
        box-sizing: border-box;
    }
    .large-12 {
        width: 100%;
    }
    .row .row {
        width: auto;
        margin: 0px -0.9375em;
        max-width: none;
    }
    .large-12 {
        width: 100%;
    }
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .large-6 {
        width: 50%;
    }
    .textInput {
        background: transparent none repeat scroll 0% 0%;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 80px;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        padding-right: 1em;
        padding-left: 1em;
        font-size: 1.4em;
        margin-bottom: 20px;
        font-family: Helvetica,Arial,sans-serif;
    }
    [class*="column"] + [class*="column"]:last-child {
        float: right;
    }
    .left {
        float: left !important;
    }
    #captchaContainer pre {
        border: 1px solid #C2C2C2;
        color: #C1C1C1;
        float: left;
        font-family: monospace;
        font-size: 10px;
        letter-spacing: -2px;
        line-height: 76%;
        margin: 0px 1em 0px 0px;
        border-radius: 6px;
        height: 55px;
    }
    #captcha-input {
        background: transparent none repeat scroll 0px 0px;
        border: 1px solid #C2C2C2;
        height: 55px;
        text-align: center;
        width: 86px;
        color: #C1C1C1;
        border-radius: 6px;
    }
    .right {
        float: right !important;
    }
    #send {
        background-color: #B25076;
        border: medium none;
        border-radius: 50px;
        box-shadow: 0px 1px 1px 0px rgba(15, 15, 15, 0.75);
        color: #FFF;
        cursor: pointer;
        font-family: Lato-Regular;
        font-size: 18px;
        height: 50px;
        margin-bottom: 20px;
        float: right;
        width: 145px;
        margin-left: 90%;
    }
    textarea {
        background: transparent none repeat scroll 0% 0%;
        resize: none;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 202px;
        padding: 1em;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 1.3em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    textarea {
        min-height: 50px;
    }

    .klienci {
        margin: 0px 16% 80px;
    }
    .klienci h2 {
        margin-top: 8%;
        margin-bottom: 2%;
        margin-left: 6%;
    }
    .klient{
        display: inline-block;
        margin: 0px 5px;
        -webkit-margin-start: 25px;
    }
    .klient p{
        text-align: center;
        font-family: Lato-Light;
        font-size: 1.2em;
        margin: 5px 0px;
    }

    .usluga{
        display: inline-block;
    }
    .usluga img:hover {
        opacity: 0.5;
        transition: width 2s;
        -webkit-transition: width 2s;
    }
    .usluga a { 
        outline:none 
    }
    .usluga a img { 
        border:none;
    } 
    .usluga a:focus {
        outline:none;
    }

    /*podstrona pogotowie*/
    .panel-pogotowie, .panel-uslugi{
        margin: 0 15%;      
    }
    h1 {
        font-size: 26px;
        font-family: Lato-Light;
        text-align: center;
        margin-top: 5%;
    }
    ul {
        list-style-type: none;
        margin-bottom: 5%;
    }
    li {
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
    }
    li:hover{
        background-color: #F4F8FC;
    }
    li p{
        font-size: 0.8em;
        color: #101010;
        font-family: Lato-Light;
        margin-top: 5px;
    }
    .lista-uslugi{
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
        height: 180px;
    }

    /*podstrona uslugi*/
    .panel-lista {
        margin-top: 5%;
    }
    .pozycja img {
        width: 100px;
        height: 100px;  
        float: right;
        margin-right: 5%;
    }
    .pozycja-left img{
        width: 100px;
        height: 100px;
        float: left;
    }
    .pozycja-left p {
        width: 80%;
        float: right;
        margin-top: 15px;
        text-align: center;
        margin-right: 8%;
    }
    #naglowek-li {
        text-align: right;
    }
    .pozycja p{
        width: 80%;
        float: left;
        margin-top: 10px;
    }
    .pozycja li{
        display: inline-block;
    }
    h3 {
        font-family: Lato_light;
        font-size: 1em;
        color: rgb(108, 198, 192);
        margin: 0 0;
    }
    .header-left {
        text-align: center;
    }

    /*menu*/
    .menu {
        text-align: right;
        margin: 0% 2%;
        padding-top: 0.5%;
    }
    .menu a {
        text-decoration: none;
        font-family: Lato;
        font-size: 1.5em;
        color: #FFF;
        padding-left: 1%;
    }
    .menu a:hover{
        text-decoration-line: underline;

    }

    /*cennik*/
    .info-cennik {
        margin: 0 15%;
    }
    .opis-cennik h2 {
    text-align: left;
    border-bottom: 1px solid #7CADBD;
    color: #213781;
    text-decoration: none;
}
    .text-cennik {
        margin-left: 28%;
        margin-top: 5%;
        font-family: Lato-Light;
        font-size: 1.4em;
    }
    .opis-cennik img {
        float: left;
        width: 25%;
    }
    .three-columns {
        display: -moz-box;
        margin: 5% 15%;
        -webkit-margin-end: 3%;     
        border: 1px solid #D2E4ED;
        box-shadow: 1px 1px 20px -10px #556DC2;
        -webkit-box-shadow: 1px 1px 20px 1px rgb(162, 170, 199);
        border-radius: 5px;
        display: -webkit-inline-box;
    }
    .col-uslugi, .col-serwis, .col-projektowanie {
        width: 20%;
    }
    .row-usluga-header h2 {
        font-family: Lato;
        font-size: 24px;
        text-align: center;
        margin: 0px;
        padding: 18px 0px;
        background-color: rgb(86, 174, 240);
        color: #DEF2FF;
    }
    td:first-child {
    width: 280px;
}
    td, th {
        padding: 0px;
        width: 50px;

    }
    td:nth-child(2) {
        text-align: center;
        padding: 0px 10px;
    }
    td:last-child {
        text-align: center;
    }
    tbody tr {
        max-height: 100px;
        height: 90px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    }
    tbody {
    color: #6E757D;
    font-size: 1.2em;
}
    thead tr {
        height: 5em;
    }
    thead {
        font-family: Lato-Regular;
        font-size: 1.3em;
        color: #3095D5;
    }
    .row-uslugi {
        padding-left: 5%;
        padding-right: 10%;
    }
}

@media only screen and (min-width: 1660px) and (max-width: 1900px){
    .uslugi {
        margin: 5% 26% 0px;	
    }
    .klient img {
        width: 50px;
        height: 50px;
        margin: 0px 25%;
    }
    .header {
        width: 100%;
        height: 375px;
        background-image:url('../images/headerBIG.png');
        color: #FFF;
        background-repeat: no-repeat !important;
        background-size: initial;
        background-position: center 0px !important;
    }

    .panel {
        width: auto;
        height: 375px;
        background-color: transparent;
        box-shadow: none;
        margin: 0 15%;
    }
    .panel h1 {
        font-size: 51px;
        font-family: Lato-Regular;
        text-align: center;
        padding-top: 14px;
    }

    p.about_factory {
        font-size: 1.6em;
        font-family: Lato-Light;
        text-align: center;
        text-shadow: 1px 1px #000;
    }

    hr.redLine_default {
        border: 2px solid #213781;
        width: 30px;
        border-radius: 10px;
        float: none;
        margin: 35px auto 45px;
    }

    .row {
        margin: 0px auto;
        width: 100%;
        max-width: 60em;
        padding-left: 15px;
        padding-right: 15px;
    }

    .korespond {
        margin: 85px 0px;
    }
    .korespond img {
        margin-bottom: 22px;
    }

    .center {
        text-align: center;	
    }
    .large-6 {
        width: 50%;
    }
    .panel-table .large-6 {
        margin-left: 25%;
    }
    .columns {
        padding-right: 0.9375em;
        float: left;
        position: relative;
    }
    .fontLato {
        font-family: Lato-Light;
        font-size: 20px;
    }
    p.header_column {
    font-size: 24px;
    font-family: Lato-Regular;
    padding-bottom: 16px;
    color: #213781;
    text-align: center;
    margin-bottom: 0px !important; text-decoration: underline;
}
    p.Adress {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 12px;
    }
    p.Phone, p.Email, p.Nip, p.Facebook {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 8px;
    }

    #mapka {width: 100%; height: 360px; margin-top: 22px; }

    h2 {
    color: #213781;
    font-family: Lato-Regular;
    font-size: 24px;
    margin: 85px 0px 20px;
    padding-bottom: 16px;
    text-align: center; text-decoration: underline;
}

    /*Formularz*/
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .row {
        width: 100%;
        margin: 0px auto;
        max-width: 60em;
    }
    .row::before, .row::after {
        content: " ";
        display: table;
    }
    *, *::before, *::after {
        box-sizing: border-box;
    }
    .large-12 {
        width: 100%;
    }
    .row .row {
        width: auto;
        margin: 0px -0.9375em;
        max-width: none;
    }
    .large-12 {
        width: 100%;
    }
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .large-6 {
        width: 50%;
    }
    .textInput {
        background: transparent none repeat scroll 0% 0%;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 54px;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    [class*="column"] + [class*="column"]:last-child {
        float: right;
    }
    .left {
        float: left !important;
    }
    #captchaContainer pre {
        border: 1px solid #C2C2C2;
        color: #C1C1C1;
        float: left;
        font-family: monospace;
        font-size: 10px;
        letter-spacing: -2px;
        line-height: 76%;
        margin: 0px 1em 0px 0px;
        border-radius: 6px;
        height: 55px;
    }
    #captcha-input {
        background: transparent none repeat scroll 0px 0px;
        border: 1px solid #C2C2C2;
        height: 55px;
        text-align: center;
        width: 86px;
        color: #C1C1C1;
        border-radius: 6px;
    }
    .right {
        float: right !important;
    }
    #send {
        background-color: #B25076;
        border: medium none;
        border-radius: 50px;
        box-shadow: 0px 1px 1px 0px rgba(15, 15, 15, 0.75);
        color: #FFF;
        cursor: pointer;
        font-family: Lato-Regular;
        font-size: 18px;
        height: 50px;
        margin-bottom: 20px;
        float: right;
        width: 145px;
        margin-left: 80%;
    }
    textarea {
        background: transparent none repeat scroll 0% 0%;
        resize: none;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 202px;
        padding: 1em;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    textarea {
        min-height: 50px;
    }

    .klienci {
        margin: 0px 9% 80px;
    }
    .klienci h2{
        margin-top: 8%;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    .klient{
        display: inline-block;
        margin: 0px 5px;
        -webkit-margin-start: 25px;
    }
    .klient p{
        text-align: center;
        font-family: Lato-Light;
        font-size: 1.2em;
        margin: 5px 0px;
    }

    .usluga{
        display: inline-block;
    }
    .usluga img:hover {
        opacity: 0.5;
        transition: width 2s;
        -webkit-transition: width 2s;
    }
    .usluga a { 
        outline:none 
    }
    .usluga a img { 
        border:none;
    } 
    .usluga a:focus {
        outline:none;
    }

    /*podstrona pogotowie*/
    .panel-pogotowie, .panel-uslugi{
        margin: 0 15%;      
    }
    h1 {
        font-size: 26px;
        font-family: Lato-Light;
        text-align: center;
        margin-top: 5%;
    }
    ul {
        list-style-type: none;
        margin-bottom: 5%;
    }
    li {
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
    }
    li:hover{
        background-color: #F4F8FC;
    }
    li p{
        font-size: 0.8em;
        color: #101010;
        font-family: Lato-Light;
        margin-top: 5px;
    }
    .lista-uslugi{
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
        height: 180px;
    }

    /*podstrona uslugi*/
    .panel-lista {
        margin-top: 5%;
    }
    .pozycja img {
        width: 100px;
        height: 100px;  
        float: right;
        margin-right: 5%;
    }
    .pozycja-left img{
        width: 100px;
        height: 100px;
        float: left;
    }
    .pozycja-left p {
        width: 80%;
        float: right;
        margin-top: 15px;
        text-align: center;
        margin-right: 8%;
    }
    #naglowek-li {
        text-align: right;
    }
    .pozycja p{
        width: 80%;
        float: left;
        margin-top: 10px;
    }
    .pozycja li{
        display: inline-block;
    }
    h3 {
        font-family: Lato_light;
        font-size: 1em;
        color: rgb(108, 198, 192);
        margin: 0 0;
    }
    .header-left {
        text-align: center;
    }

    /*menu*/
    .menu {
        text-align: right;
        margin: 0% 2%;
        padding-top: 0.5%;
    }
    .menu a{
        text-decoration: none;
        font-family: Lato;
        font-size: 1.1em;
        color: #FFF;
        padding-left: 1%;
    }
    .menu a:hover{
        text-decoration-line: underline;

    }

    /*cennik*/
    .info-cennik {
        margin: 0 15%;
    }
    .opis-cennik h2 {
    text-align: left;
    border-bottom: 1px solid #7CADBD;
    color: #213781;
    text-decoration: none;
}
    .text-cennik {
        margin-left: 28%;
        margin-top: 5%;
        font-family: Lato-Light;
        font-size: 1.4em;
    }
    .opis-cennik img {
        float: left;
        width: 25%;
    }
    .three-columns {
        display: -moz-box;
        margin: 5% 15%;
        -webkit-margin-end: 3%;   
        border: 1px solid #D2E4ED;
        box-shadow: 1px 1px 20px -10px #556DC2;
        -webkit-box-shadow: 1px 1px 20px 1px rgb(162, 170, 199);
        border-radius: 5px;
        display: -webkit-inline-box;
    }
    
    .row-usluga-header h2 {
        font-family: Lato;
        font-size: 24px;
        text-align: center;
        margin: 0px;
        padding: 18px 0px;
        background-color: rgb(86, 174, 240);
        color: #DEF2FF;
    }
    td:first-child {
    width: 280px;
}
    td, th {
        padding: 0px;
        width: 50px;

    }
    td:nth-child(2) {
        text-align: center;
        padding: 0px 10px;
    }
    td:last-child {
        text-align: center;
    }
    tbody tr {
        max-height: 100px;
        height: 90px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    }
    tbody {
    color: #6E757D;
    font-size: 1.2em;
}
    thead tr {
        height: 5em;
    }
    thead {
        font-family: Lato-Regular;
        font-size: 1.3em;
        color: #3095D5;
    }
    .row-uslugi {
        padding-right: 5%;
        padding-left: 2%;
    }
}

@media only screen and (min-width: 1380px) and (max-width: 1480px){
    .uslugi {
        margin: 5% 22% 0px;	
    }
    .klient img {
        width: 50px;
        height: 50px;
        margin: 0px 20%;
    }
    .header {
        width: 100%;
        height: 375px;
        background-image:url('../images/headerBIG.png');
        color: #FFF;
        background-repeat: no-repeat !important;
        background-size: initial;
        background-position: center 0px !important;
    }

    .panel {
        width: auto;
        height: 375px;
        background-color: transparent;
        box-shadow: none;
        margin: 0 15%;
    }
    .panel h1 {
        font-size: 51px;
        font-family: Lato-Regular;
        text-align: center;
        padding-top: 14px;
    }

    p.about_factory {
        font-size: 1.6em;
        font-family: Lato-Light;
        text-align: center;
        text-shadow: 1px 1px #000;
    }

    hr.redLine_default {
        border: 2px solid #213781;
        width: 30px;
        border-radius: 10px;
        float: none;
        margin: 35px auto 45px;
    }

    .row {
        margin: 0px auto;
        width: 100%;
        max-width: 60em;
        padding-left: 15px;
        padding-right: 15px;
    }

    .korespond {
        margin: 85px 0px;
    }
    .korespond img {
        margin-bottom: 22px;
    }

    .center {
        text-align: center;	
    }
    .large-6 {
        width: 50%;
    }
    .panel-table .large-6 {
        margin-left: 25%;
    }
    .columns {
        padding-right: 0.9375em;
        float: left;
        position: relative;
    }
    .fontLato {
        font-family: Lato-Light;
        font-size: 20px;
    }
    p.header_column {
    font-size: 24px;
    font-family: Lato-Regular;
    padding-bottom: 16px;
    color: #213781;
    text-align: center;
    margin-bottom: 0px !important; text-decoration: underline;
}
    p.Adress {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 12px;
    }
    p.Phone, p.Email, p.Nip, p.Facebook {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 8px;
    }

    #mapka {width: 100%; height: 360px; margin-top: 22px; }

    h2 {
    color: #213781;
    font-family: Lato-Regular;
    font-size: 24px;
    margin: 85px 0px 20px;
    padding-bottom: 16px;
    text-align: center; text-decoration: underline;
}

    /*Formularz*/
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .row {
        width: 100%;
        margin: 0px auto;
        max-width: 60em;
    }
    .row::before, .row::after {
        content: " ";
        display: table;
    }
    *, *::before, *::after {
        box-sizing: border-box;
    }
    .large-12 {
        width: 100%;
    }
    .row .row {
        width: auto;
        margin: 0px -0.9375em;
        max-width: none;
    }
    .large-12 {
        width: 100%;
    }
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .large-6 {
        width: 50%;
    }
    .textInput {
        background: transparent none repeat scroll 0% 0%;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 54px;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    [class*="column"] + [class*="column"]:last-child {
        float: right;
    }
    .left {
        float: left !important;
    }
    #captchaContainer pre {
        border: 1px solid #C2C2C2;
        color: #C1C1C1;
        float: left;
        font-family: monospace;
        font-size: 10px;
        letter-spacing: -2px;
        line-height: 76%;
        margin: 0px 1em 0px 0px;
        border-radius: 6px;
        height: 55px;
    }
    #captcha-input {
        background: transparent none repeat scroll 0px 0px;
        border: 1px solid #C2C2C2;
        height: 55px;
        text-align: center;
        width: 86px;
        color: #C1C1C1;
        border-radius: 6px;
    }
    .right {
        float: right !important;
    }
    #send {
        background-color: #B25076;
        border: medium none;
        border-radius: 50px;
        box-shadow: 0px 1px 1px 0px rgba(15, 15, 15, 0.75);
        color: #FFF;
        cursor: pointer;
        font-family: Lato-Regular;
        font-size: 18px;
        height: 50px;
        margin-bottom: 20px;
        float: right;
        width: 145px;
        margin-left: 80%;
    }
    textarea {
        background: transparent none repeat scroll 0% 0%;
        resize: none;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 202px;
        padding: 1em;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    textarea {
        min-height: 50px;
    }

    .klienci {
        margin: 0px 4% 80px;
    }
    .klienci h2{
        margin-top: 8%;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    .klient{
        display: inline-block;
        margin: 0px 5px;
        -webkit-margin-start: 25px;
    }
    .klient p{
        text-align: center;
        font-family: Lato-Light;
        font-size: 1.2em;
        margin: 5px 0px;
    }

    .usluga{
        display: inline-block;
    }
    .usluga img:hover {
        opacity: 0.5;
        transition: width 2s;
        -webkit-transition: width 2s;
    }
    .usluga a { 
        outline:none 
    }
    .usluga a img { 
        border:none;
    } 
    .usluga a:focus {
        outline:none;
    }

    /*podstrona pogotowie*/
    .panel-pogotowie, .panel-uslugi{
        margin: 0 15%;      
    }
    h1 {
        font-size: 26px;
        font-family: Lato-Light;
        text-align: center;
        margin-top: 5%;
    }
    ul {
        list-style-type: none;
        margin-bottom: 5%;
    }
    li {
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
    }
    li:hover{
        background-color: #F4F8FC;
    }
    li p{
        font-size: 0.8em;
        color: #101010;
        font-family: Lato-Light;
        margin-top: 5px;
    }
    .lista-uslugi{
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
        height: 180px;
    }

    /*podstrona uslugi*/
    .panel-lista {
        margin-top: 5%;
    }
    .pozycja img {
        width: 100px;
        height: 100px;  
        float: right;
        margin-right: 5%;
    }
    .pozycja-left img{
        width: 100px;
        height: 100px;
        float: left;
    }
    .pozycja-left p {
        width: 80%;
        float: right;
        margin-top: 15px;
        text-align: center;
        margin-right: 8%;
    }
    #naglowek-li {
        text-align: right;
    }
    .pozycja p{
        width: 80%;
        float: left;
        margin-top: 10px;
    }
    .pozycja li{
        display: inline-block;
    }
    h3 {
        font-family: Lato_light;
        font-size: 1em;
        color: rgb(108, 198, 192);
        margin: 0 0;
    }
    .header-left {
        text-align: center;
    }

    /*menu*/
    .menu {
        text-align: right;
        margin: 0% 2%;
        padding-top: 0.5%;
    }
    .menu a{
        text-decoration: none;
        font-family: Lato;
        font-size: 1.1em;
        color: #FFF;
        padding-left: 1%;
    }
    .menu a:hover{
        text-decoration-line: underline;

    }

    /*cennik*/
    .info-cennik {
        margin-left: 10%;
        margin-right: 12%;
    }
    .opis-cennik h2 {
    text-align: left;
    border-bottom: 1px solid #7CADBD;
    color: #213781;
    text-decoration: none;
}
    .text-cennik {
        margin-left: 28%;
        margin-top: 5%;
        font-family: Lato-Light;
        font-size: 1.4em;
    }
    .opis-cennik img {
        float: left;
        width: 25%;
    }
    .three-columns {
        display: -moz-box;
        margin: 5% 15%;
        -webkit-margin-end: 3%;     
        border: 1px solid #D2E4ED;
        box-shadow: 1px 1px 20px -10px #556DC2;
        -webkit-box-shadow: 1px 1px 20px 1px rgb(162, 170, 199);
        border-radius: 5px;
        display: -webkit-inline-box;
    }
    
    .row-usluga-header h2 {
        font-family: Lato;
        font-size: 24px;
        text-align: center;
        margin: 0px;
        padding: 18px 0px;
        background-color: rgb(86, 174, 240);
        color: #DEF2FF;
    }
    td:first-child {
    width: 270px;
}
    td, th {
        padding: 0px;
        width: 50px;

    }
    td:nth-child(2) {
        text-align: center;
        padding: 0px 10px;
    }
    td:last-child {
        text-align: center;
    }
    tbody tr {
        max-height: 100px;
        height: 90px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    }
    tbody {
    color: #6E757D;
    font-size: 1.2em;
}
    thead tr {
        height: 5em;
    }
    thead {
        font-family: Lato-Regular;
        font-size: 1.3em;
        color: #3095D5;
    }
    .row-uslugi {
        padding-right: 5%;
        padding-left: 2%;
    }
}

/* Portrait */
@media only screen and (max-width: 1100px) and (orientation:portrait) and (min-resolution: 400dpi) {
    body {
        background-color: #7AA8F0;	
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1350px) {
    .header {
        width: auto;
        height: 375px;
        background-image:url('../images/headerWIDEsmall.png');
        color: #FFF;
        background-repeat: no-repeat !important;
        background-size: initial;
        background-position: center 0px !important;
    }

    .panel {
        width: auto;
        height: 375px;
        background-color: transparent;
        box-shadow: none;
        margin: 0 15%;
    }
    .panel h1 {
        font-size: 51px;
        font-family: Lato-Regular;
        text-align: center;
        padding-top: 14px;
    }

    p.about_factory {
        font-size: 1.6em;
        font-family: Lato-Light;
        text-align: center;
        text-shadow: 1px 1px #000;
    }

    hr.redLine_default {
        border: 2px solid #213781;
        width: 30px;
        border-radius: 10px;
        float: none;
        margin: 35px auto 45px;
    }

    .row {
        margin: 0px auto;
        width: 100%;
        max-width: 60em;
        padding-left: 15px;
        padding-right: 15px;
    }

    .korespond {
        margin: 85px 0px;
    }
    .korespond img {
        margin-bottom: 22px;
    }

    .center {
        text-align: center;	
    }
    .large-6 {
        width: 50%;
    }
    .columns {
        padding-right: 0.9375em;
        float: left;
        position: relative;
    }
    .fontLato {
        font-family: Lato-Light;
        font-size: 20px;
    }
    p.header_column {
    font-size: 24px;
    font-family: Lato-Regular;
    padding-bottom: 16px;
    color: #213781;
    text-align: center;
    margin-bottom: 0px !important; text-decoration: underline;
}
    p.Adress {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 12px;
    }
    p.Phone, p.Email, p.Nip, p.Facebook {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 8px;
    }

    #mapka {width: 100%; height: 360px; margin-top: 22px; }

    h2 {
    color: #213781;
    font-family: Lato-Regular;
    font-size: 24px;
    margin: 85px 0px 20px;
    padding-bottom: 16px;
    text-align: center; text-decoration: underline;
}

    /*Formularz*/
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .row {
        width: 100%;
        margin: 0px auto;
        max-width: 60em;
    }
    .row::before, .row::after {
        content: " ";
        display: table;
    }
    *, *::before, *::after {
        box-sizing: border-box;
    }
    .large-12 {
        width: 100%;
    }
    .row .row {
        width: auto;
        margin: 0px -0.9375em;
        max-width: none;
    }
    .large-12 {
        width: 100%;
    }
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .large-6 {
        width: 50%;
    }
    .panel-table .large-6 {
        margin-left: 26%;
    }
    .textInput {
        background: transparent none repeat scroll 0% 0%;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 54px;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    [class*="column"] + [class*="column"]:last-child {
        float: right;
    }
    .left {
        float: left !important;
    }
    #captchaContainer pre {
        border: 1px solid #C2C2C2;
        color: #C1C1C1;
        float: left;
        font-family: monospace;
        font-size: 10px;
        letter-spacing: -2px;
        line-height: 76%;
        margin: 0px 1em 0px 0px;
        border-radius: 6px;
        height: 55px;
    }
    #captcha-input {
        background: transparent none repeat scroll 0px 0px;
        border: 1px solid #C2C2C2;
        height: 55px;
        text-align: center;
        width: 86px;
        color: #C1C1C1;
        border-radius: 6px;
    }
    .right {
        float: right !important;
    }
    #send {
        background-color: #B25076;
        border: medium none;
        border-radius: 50px;
        box-shadow: 0px 1px 1px 0px rgba(15, 15, 15, 0.75);
        color: #FFF;
        cursor: pointer;
        font-family: Lato-Regular;
        font-size: 18px;
        height: 50px;
        margin-bottom: 20px;
        float: right;
        width: 145px;
        margin-left: 80%;
    }
    textarea {
        background: transparent none repeat scroll 0% 0%;
        resize: none;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 202px;
        padding: 1em;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    textarea {
        min-height: 50px;
    }

    .klienci {
        margin: 0px 1%;
    }
    .klienci h2{
        margin-top: 8%;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    .klient img{        
        width: 50px;
        height: 50px;
        margin: 0 20%;
    }
    .klient{
        display: inline-block;
        margin: 0px 5px;
        -webkit-margin-start: 25px;
    }
    .klient p{
        text-align: center;
        font-family: Lato-Light;
        font-size: 1.2em;
        margin: 5px 0px;
    }

    .usluga{
        display: inline-block;
    }
    .usluga img:hover {
        opacity: 0.5;
        transition: width 2s;
        -webkit-transition: width 2s;
    }
    .usluga a { 
        outline:none 
    }
    .usluga a img { 
        border:none;
    } 
    .usluga a:focus {
        outline:none;
    }
    .uslugi {
        margin: 5% 19% 0px 19%;
    }

    /*podstrona pogotowie*/
    .panel-pogotowie, .panel-uslugi{
        margin: 0 10%;
    }
    h1 {
        font-size: 26px;
        font-family: Lato-Light;
        text-align: center;
        margin-top: 5%;
    }
    ul {
        list-style-type: none;
        margin-bottom: 5%;
    }
    li {
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
    }
    li:hover{
        background-color: #F4F8FC;
    }
    li p{
        font-size: 0.8em;
        color: #101010;
        font-family: Lato-Light;
        margin-top: 5px;
    }
    .lista-uslugi{
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
        height: 180px;
    }

    /*podstrona uslugi*/
    .panel-lista {
        margin-top: 5%;
    }
    .pozycja img {
        width: 100px;
        height: 100px;  
        float: right;
        margin-right: 5%;
    }
    .pozycja-left img{
        width: 100px;
        height: 100px;
        float: left;
    }
    .pozycja-left p {
        width: 80%;
        float: right;
        margin-top: 15px;
        text-align: center;
    }
    #naglowek-li {
        text-align: right;
    }
    .pozycja p{
        width: 80%;
        float: left;
        margin-top: 10px;
    }
    .pozycja li{
        display: inline-block;
    }
    h3 {
        font-family: Lato_light;
        font-size: 1em;
        color: rgb(108, 198, 192);
        margin: 0 0;
    }
    .header-left {
        text-align: center;
    }

    /*menu*/
    .menu {
        text-align: right;
        margin: 0% 2%;
        padding-top: 0.5%;
    }
    .menu a{
        text-decoration: none;
        font-family: Lato;
        font-size: 1.1em;
        color: #FFF;
        padding-left: 1%;
    }
    .menu a:hover{
        text-decoration-line: underline;

    }
    
    /*cennik*/
    .info-cennik {
        margin: 0 15%;
    }
    .opis-cennik h2 {
    text-align: left;
    border-bottom: 1px solid #7CADBD;
    color: #213781;
    text-decoration: none;
}
    .text-cennik {
        margin-left: 28%;
        margin-top: 5%;
        font-family: Lato-Light;
        font-size: 1.4em;
    }
    .opis-cennik img {
        float: left;
        width: 25%;
    }
    .three-columns {
        display: -moz-box;
        margin: 5% 15%;
        -webkit-margin-end: 3%;   
        border: 1px solid #D2E4ED;
        box-shadow: 1px 1px 20px -10px #556DC2;
        -webkit-box-shadow: 1px 1px 20px 1px rgb(162, 170, 199);
        border-radius: 5px;
        display: -webkit-inline-box;
    }
    
    .row-usluga-header h2 {
        font-family: Lato;
        font-size: 24px;
        text-align: center;
        margin: 0px;
        padding: 18px 0px;
        background-color: rgb(86, 174, 240);
        color: #DEF2FF;
    }
    td:first-child {
    width: 270px;
}
    td, th {
        padding: 0px;
        width: 50px;

    }
    td:nth-child(2) {
        text-align: center;
        padding: 0px 10px;
    }
    td:last-child {
        text-align: center;
    }
    tbody tr {
        max-height: 100px;
        height: 90px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    }
    tbody {
    color: #6E757D;
    font-size: 1.2em;
}
    thead tr {
        height: 5em;
    }
    thead {
        font-family: Lato-Regular;
        font-size: 1.3em;
        color: #3095D5;
    }
    .row-uslugi {
        padding-right: 5%;
        padding-left: 2%;
    }
}
@media only screen and (min-width: 1360px) and (max-width: 1380px){
    .header {
        width: 100%;
        height: 375px;
        background-image:url('../images/headerSMALL.png');
        color: #FFF;
        background-repeat: no-repeat !important;
        background-size: initial;
        background-position: center 0px !important;
    }

    .panel {
        width: auto;
        height: 375px;
        background-color: transparent;
        box-shadow: none;
        margin: 0 15%;
    }
    .panel h1 {
        font-size: 51px;
        font-family: Lato-Regular;
        text-align: center;
        padding-top: 14px;
    }

    p.about_factory {
        font-size: 1.6em;
        font-family: Lato-Light;
        text-align: center;
        text-shadow: 1px 1px #000;
    }

    hr.redLine_default {
        border: 2px solid #213781;
        width: 30px;
        border-radius: 10px;
        float: none;
        margin: 35px auto 45px;
    }

    .row {
        margin: 0px auto;
        width: 100%;
        max-width: 60em;
        padding-left: 15px;
        padding-right: 15px;
    }

    .korespond {
        margin: 85px 0px;
    }
    .korespond img {
        margin-bottom: 22px;
    }

    .center {
        text-align: center;	
    }
    .large-6 {
        width: 50%;
    }
    .panel-table .large-6 {
        margin-left: 25%;
    }
    .columns {
        padding-right: 0.9375em;
        float: left;
        position: relative;
    }
    .fontLato {
        font-family: Lato-Light;
        font-size: 20px;
    }
    p.header_column {
    font-size: 24px;
    font-family: Lato-Regular;
    padding-bottom: 16px;
    color: #213781;
    text-align: center;
    margin-bottom: 0px !important; text-decoration: underline;
}
    p.Adress {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 12px;
    }
    p.Phone, p.Email, p.Nip, p.Facebook {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 8px;
    }

    #mapka {width: 100%; height: 360px; margin-top: 22px; }

    h2 {
    color: #213781;
    font-family: Lato-Regular;
    font-size: 24px;
    margin: 85px 0px 20px;
    padding-bottom: 16px;
    text-align: center; text-decoration: underline;
}

    /*Formularz*/
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .row {
        width: 100%;
        margin: 0px auto;
        max-width: 60em;
    }
    .row::before, .row::after {
        content: " ";
        display: table;
    }
    *, *::before, *::after {
        box-sizing: border-box;
    }
    .large-12 {
        width: 100%;
    }
    .row .row {
        width: auto;
        margin: 0px -0.9375em;
        max-width: none;
    }
    .large-12 {
        width: 100%;
    }
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .large-6 {
        width: 50%;
    }
    .textInput {
        background: transparent none repeat scroll 0% 0%;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 54px;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    [class*="column"] + [class*="column"]:last-child {
        float: right;
    }
    .left {
        float: left !important;
    }
    #captchaContainer pre {
        border: 1px solid #C2C2C2;
        color: #C1C1C1;
        float: left;
        font-family: monospace;
        font-size: 10px;
        letter-spacing: -2px;
        line-height: 76%;
        margin: 0px 1em 0px 0px;
        border-radius: 6px;
        height: 55px;
    }
    #captcha-input {
        background: transparent none repeat scroll 0px 0px;
        border: 1px solid #C2C2C2;
        height: 55px;
        text-align: center;
        width: 86px;
        color: #C1C1C1;
        border-radius: 6px;
    }
    .right {
        float: right !important;
    }
    #send {
        background-color: #B25076;
        border: medium none;
        border-radius: 50px;
        box-shadow: 0px 1px 1px 0px rgba(15, 15, 15, 0.75);
        color: #FFF;
        cursor: pointer;
        font-family: Lato-Regular;
        font-size: 18px;
        height: 50px;
        margin-bottom: 20px;
        float: right;
        width: 145px;
        margin-left: 80%;
    }
    textarea {
        background: transparent none repeat scroll 0% 0%;
        resize: none;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 202px;
        padding: 1em;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    textarea {
        min-height: 50px;
    }

    .klienci {
        margin: 0px 1% 80px;
    }
    .klienci h2{
        margin-top: 8%;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    .klient img{        
        width: 50px;
        height: 50px;
        margin: 0 25%;
    }
    .klient{
        display: inline-block;
        margin: 0px 5px;
        -webkit-margin-start: 25px;
    }
    .klient p{
        text-align: center;
        font-family: Lato-Light;
        font-size: 1.2em;
        margin: 5px 0px;
    }

    .usluga{
        display: inline-block;
    }
    .usluga img:hover {
        opacity: 0.5;
        transition: width 2s;
        -webkit-transition: width 2s;
    }
    .usluga a { 
        outline:none 
    }
    .usluga a img { 
        border:none;
    } 
    .usluga a:focus {
        outline:none;
    }
    .uslugi {
        margin: 5% 21% 0px 21%;
    }

    /*podstrona pogotowie*/
    .panel-pogotowie, .panel-uslugi{
        margin: 0 15%;      
    }
    h1 {
        font-size: 26px;
        font-family: Lato-Light;
        text-align: center;
        margin-top: 5%;
    }
    ul {
        list-style-type: none;
        margin-bottom: 5%;
    }
    li {
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
    }
    li:hover{
        background-color: #F4F8FC;
    }
    li p{
        font-size: 0.8em;
        color: #101010;
        font-family: Lato-Light;
        margin-top: 5px;
    }
    .lista-uslugi{
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
        height: 180px;
    }

    /*podstrona uslugi*/
    .panel-lista {
        margin-top: 5%;
    }
    .pozycja img {
        width: 100px;
        height: 100px;  
        float: right;
        margin-right: 5%;
    }
    .pozycja-left img{
        width: 100px;
        height: 100px;
        float: left;
    }
    .pozycja-left p {
        width: 80%;
        float: right;
        margin-top: 15px;
        text-align: center;
        margin-right: 8%;
    }
    #naglowek-li {
        text-align: right;
    }
    .pozycja p{
        width: 80%;
        float: left;
        margin-top: 10px;
    }
    .pozycja li{
        display: inline-block;
    }
    h3 {
        font-family: Lato_light;
        font-size: 1em;
        color: rgb(108, 198, 192);
        margin: 0 0;
    }
    .header-left {
        text-align: center;
    }

    /*menu*/
    .menu {
        text-align: right;
        margin: 0% 2%;
        padding-top: 0.5%;
    }
    .menu a{
        text-decoration: none;
        font-family: Lato;
        font-size: 1.1em;
        color: #FFF;
        padding-left: 1%;
    }
    .menu a:hover{
        text-decoration-line: underline;

    }

    /*cennik*/
    .info-cennik {
        margin: 0 15%;
    }
    .opis-cennik h2 {
    text-align: left;
    border-bottom: 1px solid #7CADBD;
    color: #213781;
    text-decoration: none;
}
    .text-cennik {
        margin-left: 28%;
        margin-top: 5%;
        font-family: Lato-Light;
        font-size: 1.4em;
    }
    .opis-cennik img {
        float: left;
        width: 25%;
    }
    .three-columns {
        display: -moz-box;
        margin: 5% 15%;
        -webkit-margin-end: 3%;    
        border: 1px solid #D2E4ED;
        box-shadow: 1px 1px 20px -10px #556DC2;
        -webkit-box-shadow: 1px 1px 20px 1px rgb(162, 170, 199);
        border-radius: 5px;
        display: -webkit-inline-box;
    }
    
    .row-usluga-header h2 {
        font-family: Lato;
        font-size: 24px;
        text-align: center;
        margin: 0px;
        padding: 18px 0px;
        background-color: rgb(86, 174, 240);
        color: #DEF2FF;
    }
    td:first-child {
    width: 250px;
}
    td, th {
        padding: 0px;
        width: 50px;

    }
    td:nth-child(2) {
        text-align: center;
        padding: 0px 10px;
    }
    td:last-child {
        text-align: center;
    }
    tbody tr {
        max-height: 100px;
        height: 90px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    }
    tbody {
    color: #6E757D;
    font-size: 1.2em;
}
    thead tr {
        height: 5em;
    }
    thead {
        font-family: Lato-Regular;
        font-size: 1.3em;
        color: #3095D5;
    }
    .row-uslugi {
        padding-right: 5%;
        padding-left: 2%;
    }

}

@media only screen and (max-width: 1050px){
    
    
    
    
    

    /*-------------------------------------------------------------------------*/
    
    .header {
        width: auto;
        height: 375px;
        background-image:url('../images/headerWIDEsmall.png');
        color: #FFF;
        background-repeat: no-repeat !important;
        background-size: initial;
        background-position: center 0px !important;
    }

    .panel {
        width: auto;
        height: 375px;
        background-color: transparent;
        box-shadow: none;
        margin: 0 15%;
    }
    .panel h1 {
        font-size: 2.5em;
        font-family: Lato-Regular;
        text-align: center;
        padding-top: 14px;
    }

    p.about_factory {
        font-size: 1.2em;
        font-family: Lato-Light;
        text-align: center;
        text-shadow: 1px 1px #000;
    }

    hr.redLine_default {
        border: 2px solid #213781;
        width: 30px;
        border-radius: 10px;
        float: none;
        margin: 35px auto 45px;
    }

    .row {
        margin: 0px auto;
        width: 100%;
        max-width: 60em;
        padding-left: 15px;
        padding-right: 15px;
    }

    .korespond {
        margin: 85px 0px;
    }
    .korespond img {
        margin-bottom: 22px;
    }

    .center {
        text-align: center;	
    }
    .large-6 {
        width: 50%;
    }
    .columns {
        padding-right: 0.9375em;
        float: left;
        position: relative;
    }
    .fontLato {
        font-family: Lato-Light;
        font-size: 20px;
    }
    p.header_column {
    font-size: 24px;
    font-family: Lato-Regular;
    padding-bottom: 16px;
    color: #213781;
    text-align: center;
    margin-bottom: 0px !important; text-decoration: underline;
}
    p.Adress {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 12px;
    }
    p.Phone, p.Email, p.Nip, p.Facebook {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 8px;
    }

    #mapka {width: 100%; height: 360px; margin-top: 22px; }

    h2 {
    color: #213781;
    font-family: Lato-Regular;
    font-size: 24px;
    margin: 85px 0px 20px;
    padding-bottom: 16px;
    text-align: center; text-decoration: underline;
}

    /*Formularz*/
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .row {
        width: 100%;
        margin: 0px auto;
        max-width: 60em;
    }
    .row::before, .row::after {
        content: " ";
        display: table;
    }
    *, *::before, *::after {
        box-sizing: border-box;
    }
    .large-12 {
        width: 100%;
    }
    .row .row {
        width: auto;
        margin: 0px -0.9375em;
        max-width: none;
    }
    .large-12 {
        width: 100%;
    }
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .large-6 {
        width: 50%;
    }
    .panel-table .large-6 {
        margin-left: 26%;
    }
    .textInput {
        background: transparent none repeat scroll 0% 0%;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 54px;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    [class*="column"] + [class*="column"]:last-child {
        float: right;
    }
    .left {
        float: left !important;
    }
    #captchaContainer pre {
        border: 1px solid #C2C2C2;
        color: #C1C1C1;
        float: left;
        font-family: monospace;
        font-size: 10px;
        letter-spacing: -2px;
        line-height: 76%;
        margin: 0px 1em 0px 0px;
        border-radius: 6px;
        height: 55px;
    }
    #captcha-input {
        background: transparent none repeat scroll 0px 0px;
        border: 1px solid #C2C2C2;
        height: 55px;
        text-align: center;
        width: 86px;
        color: #C1C1C1;
        border-radius: 6px;
    }
    .right {
        float: right !important;
    }
    #send {
        background-color: #B25076;
        border: medium none;
        border-radius: 50px;
        box-shadow: 0px 1px 1px 0px rgba(15, 15, 15, 0.75);
        color: #FFF;
        cursor: pointer;
        font-family: Lato-Regular;
        font-size: 18px;
        height: 50px;
        margin-bottom: 20px;
        float: right;
        width: 145px;
        margin-left: 80%;
    }
    textarea {
        background: transparent none repeat scroll 0% 0%;
        resize: none;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 202px;
        padding: 1em;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    textarea {
        min-height: 50px;
    }
    .klienci {
        margin: 0px 5%;
    }
    .klient {
        display: inline-block;
        margin: 0px 1%;
        -webkit-margin-start: 25px;
    }
    .klient img {
        height: 50px;
        width: 50px;
        margin: 0px 25%;
    }
    .klient-wide {
        margin-left: 24%;
    }
    .klienci h2{
        margin-top: 8%;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    .klient p{
        text-align: center;
        font-family: Lato-Light;
        font-size: 1.2em;
        margin: 5px 0px;
    }
    .usluga img:hover {
        opacity: 0.5;
        transition: width 2s;
        -webkit-transition: width 2s;
    }
    .usluga a { 
        outline:none 
    }
    .usluga a img {
        border: medium none;
        width: 100%;
    } 
    .usluga a:focus {
        outline:none;
    }
    .uslugi {
        margin: 5% 0 0px 0;
    }
    .usluga {
        display: inline-block;
        width: 49%;
    }

    /*podstrona pogotowie*/
    .panel-pogotowie, .panel-uslugi{
        margin: 0 10%;
    }
    h1 {
        font-size: 26px;
        font-family: Lato-Light;
        text-align: center;
        margin-top: 5%;
    }
    ul {
        list-style-type: none;
        margin-bottom: 5%;
    }
    li {
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
    }
    li:hover{
        background-color: #F4F8FC;
    }
    li p{
        font-size: 0.8em;
        color: #101010;
        font-family: Lato-Light;
        margin-top: 5px;
    }
    .lista-uslugi{
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.5em;
		height: 230px;
    }

    /*podstrona uslugi*/
    .panel-lista {
        margin-top: 5%;
    }
    .pozycja img {
        width: 100px;
        height: 100px;  
        float: right;
        margin-right: 5%;
    }
    .pozycja-left img{
        width: 100px;
        height: 100px;
        float: left;
    }
    .pozycja-left p {
        width: 80%;
		margin-left: 120px;
    }
    #naglowek-li {
        text-align: right;
    }
    .pozycja p{
        width: 75%;
        float: left;
        margin-top: 10px;
    }
    .pozycja li{
        display: inline-block;
    }
    h3 {
        font-family: Lato_light;
        font-size: 1em;
        color: rgb(108, 198, 192);
        margin: 0 0;
    }
    .header-left {
        text-align: center;
    }

    /*menu*/
    .menu {
        text-align: right;
		margin: 0% 2%;
		padding: 3% 0;
    }
    .menu a{
        text-decoration: none;
		font-family: Lato;
		color: #FFF;
		font-size: 1.3em;
		padding-left: 1%;
		margin: 0 7%;
    }
    .menu a:hover{
        text-decoration-line: underline;

    }
    
    /*cennik*/
    .info-cennik {
        margin: 0 15%;
    }
    .opis-cennik h2 {
    text-align: left;
    border-bottom: 1px solid #7CADBD;
    color: #213781;
    text-decoration: none;
}
    .text-cennik {
        margin-left: 28%;
        margin-top: 5%;
        font-family: Lato-Light;
        font-size: 1.4em;
    }
    .opis-cennik img {
        float: left;
        width: 25%;
    }
    .three-columns {
        display: -moz-box;
        margin: 5% 15%;
        -webkit-margin-end: 3%;   
        border: 1px solid #D2E4ED;
        box-shadow: 1px 1px 20px -10px #556DC2;
        -webkit-box-shadow: 1px 1px 20px 1px rgb(162, 170, 199);
        border-radius: 5px;
        display: -webkit-inline-box;
    }
    .col-uslugi, .col-serwis, .col-projektowanie {
        width: 10%;
    }
	.col-rodzaj-uslugi {
		width: 100%;	
	}
    .row-usluga-header h2 {
        font-family: Lato;
        font-size: 24px;
        text-align: center;
        margin: 0px;
        padding: 18px 0px;
        background-color: rgb(86, 174, 240);
        color: #DEF2FF;
    }
    td:first-child {
    width: 200px;
}
    td, th {
        padding: 0px;
        width: 50px;

    }
    td:nth-child(2) {
        text-align: center;
        padding: 0px 10px;
    }
    td:last-child {
        text-align: center;
    }
    tbody tr {
        max-height: 100px;
        height: 90px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    }
    tbody {
    color: #6E757D;
    font-size: 1.2em;
}
    thead tr {
        height: 5em;
    }
    thead {
        font-family: Lato-Regular;
        font-size: 1.3em;
        color: #3095D5;
    }
    .row-uslugi {
        padding-right: 5%;
        padding-left: 2%;
    }
}

@media only screen and (max-width: 860px){
    .klient-wide {
        margin-left: 0px;
    }
    .klienci {
        margin: 0px 8%;
    }
}

@media only screen and (max-width: 500px) {
	
	.header {
        width: auto;
        height: 375px;
        background-image:url('../images/headerWIDEsmall.png');
        color: #FFF;
        background-repeat: no-repeat !important;
        background-size: initial;
        background-position: center 0px !important;
    }

    .panel {
        width: auto;
        height: 375px;
        background-color: transparent;
        box-shadow: none;
        margin: 0 15%;
    }
    .panel h1 {
        font-size: 2.5em;
        font-family: Lato-Regular;
        text-align: center;
        padding-top: 14px;
    }

    p.about_factory {
        font-size: 1.2em;
        font-family: Lato-Light;
        text-align: center;
        text-shadow: 1px 1px #000;
    }

    hr.redLine_default {
        border: 2px solid #213781;
        width: 30px;
        border-radius: 10px;
        float: none;
        margin: 35px auto 45px;
    }

    .row {
        margin: 0px auto;
        width: 100%;
        max-width: 60em;
        padding-left: 15px;
        padding-right: 15px;
    }

    .korespond {
        margin: 85px 0px;
    }
    .korespond img {
        margin-bottom: 22px;
    }

    .center {
        text-align: center;	
    }
    .large-6 {
        width: 50%;
    }
    .columns {
        padding-right: 0.9375em;
        float: left;
        position: relative;
    }
    .fontLato {
        font-family: Lato-Light;
        font-size: 20px;
    }
    p.header_column {
    font-size: 24px;
    font-family: Lato-Regular;
    padding-bottom: 16px;
    color: #213781;
    text-align: center;
    margin-bottom: 0px !important; text-decoration: underline;
}
    p.Adress {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 12px;
    }
    p.Phone, p.Email, p.Nip, p.Facebook {
        font-size: 20px;
        font-family: Lato-Light;
        margin-bottom: 8px;
    }

    #mapka {width: 100%; height: 360px; margin-top: 22px; }

    h2 {
    color: #213781;
    font-family: Lato-Regular;
    font-size: 24px;
    margin: 85px 0px 20px;
    padding-bottom: 16px;
    text-align: center; text-decoration: underline;
}

    /*Formularz*/
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .row {
        width: 100%;
        margin: 0px auto;
        max-width: 60em;
    }
    .row::before, .row::after {
        content: " ";
        display: table;
    }
    *, *::before, *::after {
        box-sizing: border-box;
    }
    .large-12 {
        width: 100%;
    }
    .row .row {
        width: auto;
        margin: 0px -0.9375em;
        max-width: none;
    }
    .large-12 {
        width: 100%;
    }
    .halfSize {
        width: 600px !important;
        margin: 0px auto !important;
    }
    .large-6 {
        width: 50%;
    }
    .panel-table .large-6 {
        margin-left: 26%;
    }
    .textInput {
        background: transparent none repeat scroll 0% 0%;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 54px;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    [class*="column"] + [class*="column"]:last-child {
        float: right;
    }
    .left {
        float: left !important;
    }
    #captchaContainer pre {
        border: 1px solid #C2C2C2;
        color: #C1C1C1;
        float: left;
        font-family: monospace;
        font-size: 10px;
        letter-spacing: -2px;
        line-height: 76%;
        margin: 0px 1em 0px 0px;
        border-radius: 6px;
        height: 55px;
    }
    #captcha-input {
        background: transparent none repeat scroll 0px 0px;
        border: 1px solid #C2C2C2;
        height: 55px;
        text-align: center;
        width: 86px;
        color: #C1C1C1;
        border-radius: 6px;
    }
    .right {
        float: right !important;
    }
    #send {
        background-color: #B25076;
        border: medium none;
        border-radius: 50px;
        box-shadow: 0px 1px 1px 0px rgba(15, 15, 15, 0.75);
        color: #FFF;
        cursor: pointer;
        font-family: Lato-Regular;
        font-size: 18px;
        height: 50px;
        margin-bottom: 20px;
        float: right;
        width: 145px;
        margin-left: 80%;
    }
    textarea {
        background: transparent none repeat scroll 0% 0%;
        resize: none;
        border: 1px solid #C2C2C2;
        width: 100%;
        height: 202px;
        padding: 1em;
        border-radius: 6px;
    }
    .textInput, #captcha-input, textarea {
        font-size: 0.9em;
        font-family: Helvetica,Arial,sans-serif;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 20px;
    }
    textarea {
        min-height: 50px;
    }
    .klienci {
        margin: 0px 5%;
    }
    .klient {
        display: inline-block;
        margin: 0px 1%;
        -webkit-margin-start: 25px;
    }
    .klient img {
        height: 50px;
        width: 50px;
        margin: 0px 25%;
    }
    .klient-wide {
        margin-left: 24%;
    }
    .klienci h2{
        margin-top: 8%;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    .klient p{
        text-align: center;
        font-family: Lato-Light;
        font-size: 1.2em;
        margin: 5px 0px;
    }
    .usluga img:hover {
        opacity: 0.5;
        transition: width 2s;
        -webkit-transition: width 2s;
    }
    .usluga a { 
        outline:none 
    }
    .usluga a img {
        border: medium none;
        width: 100%;
    } 
    .usluga a:focus {
        outline:none;
    }
    .uslugi {
        margin: 5% 3% 0px 3%;
    }
    .usluga {
        display: inline-block;
        width: 49%;
    }

    /*podstrona pogotowie*/
    .panel-pogotowie, .panel-uslugi{
        margin: 0 10%;
    }
    h1 {
        font-size: 26px;
        font-family: Lato-Light;
        text-align: center;
        margin-top: 5%;
    }
    ul {
        list-style-type: none;
        margin-bottom: 5%;
    }
    li {
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.6em;
        padding: 20px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        color: rgb(108, 198, 192);
    }
    li:hover{
        background-color: #F4F8FC;
    }
    li p{
        font-size: 0.8em;
        color: #101010;
        font-family: Lato-Light;
        margin-top: 5px;
    }
    .lista-uslugi{
        margin-bottom: 10px;
        font-family: Lato_light;
        font-size: 1.5em;

    }

    /*podstrona uslugi*/
    .panel-lista {
        margin-top: 5%;
    }
    .pozycja img {
        width: 100px;
        height: 100px;  
        float: right;
        margin-right: 5%;
    }
    .pozycja-left img{
        width: 100px;
        height: 100px;
        float: left;
    }
    .pozycja-left p {
        width: 75%;
    }
    #naglowek-li {
        text-align: right;
    }
    .pozycja p{
        width: 80%;
        float: left;
        margin-top: 10px;
    }
    .pozycja li{
        display: inline-block;
    }
    h3 {
        font-family: Lato_light;
        font-size: 1em;
        color: rgb(108, 198, 192);
        margin: 0 0;
    }
    .header-left {
        text-align: center;
    }

    /*menu*/
    .menu {
        text-align: right;
        margin: 0% 2%;
        padding-top: 0.5%;
    }
    .menu a{
        text-decoration: none;
		font-family: Lato;
		color: #FFF;
		font-size: 1.3em;
		padding-left: 1%;
		margin-right: 3%;
    }
    .menu a:hover{
        text-decoration-line: underline;

    }
    
    /*cennik*/
    .info-cennik {
        margin: 0 15%;
    }
    .opis-cennik h2 {
    text-align: left;
    border-bottom: 1px solid #7CADBD;
    color: #213781;
    text-decoration: none;
}
    .text-cennik {
        margin-left: 28%;
        margin-top: 5%;
        font-family: Lato-Light;
        font-size: 1.4em;
    }
    .opis-cennik img {
        float: left;
        width: 25%;
    }
    .three-columns {
        display: -moz-box;
        margin: 5% 15%;
        -webkit-margin-end: 3%;      
        border: 1px solid #D2E4ED;
        box-shadow: 1px 1px 20px -10px #556DC2;
        -webkit-box-shadow: 1px 1px 20px 1px rgb(162, 170, 199);
        border-radius: 5px;
        display: -webkit-inline-box;
    }
    
    .row-usluga-header h2 {
        font-family: Lato;
        font-size: 24px;
        text-align: center;
        margin: 0px;
        padding: 18px 0px;
        background-color: rgb(86, 174, 240);
        color: #DEF2FF;
    }
    td:first-child {
    width: 250px;
}
    td, th {
        padding: 0px;
        width: 50px;

    }
    td:nth-child(2) {
        text-align: center;
        padding: 0px 10px;
    }
    td:last-child {
        text-align: center;
    }
    tbody tr {
        max-height: 100px;
        height: 90px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    }
    tbody {
    color: #6E757D;
    font-size: 1.2em;
}
    thead tr {
        height: 5em;
    }
    thead {
        font-family: Lato-Regular;
        font-size: 1.3em;
        color: #3095D5;
    }
    .row-uslugi {
        padding-right: 5%;
        padding-left: 2%;
    }
}













